@font-face {
  font-family: 'Courier New';
  src: url(../fonts/Courier\ New.ttf);
}
@font-face {
  font-family: 'Verdana';
  src: url(../fonts/ofont.ru_Verdana.ttf);
}
@font-face {
  font-family: 'VerdanaBold';
  src: url(../fonts/ofont.ru_Verdana_bold.ttf);
}

:root{
  --dark-grey: #222222;
  --black: #131313;
  --white: #fff;
  --light-grey: #f0f0f0;
  --yellow: #feca30;
  --dark-black: #111111;
  --grey: #565656;
  --text-color: #d4d4d4;
}

/* Header */
main{
  font-family: 'Verdana';
  background: var(--dark-grey);
  height: 700px;
  color: var(--white);
}
#menu div{
  margin-top: 84px;
}
#menu :not(:first-child) a{
 margin-right: 30px;
 text-decoration: none;
 color: var(--text-color);
 font-size: 14px;
}
.main-text div h1{
  font-size: 45px;
  font-family: 'Courier New';
  font-weight: bold;
}
.main-text div p{
  color: var(--text-color);
  font-size: 14px;
  margin: 50px 0 80px 0;
}
.main-text div a{
  background-color: var(--yellow);
  text-decoration: none;
  padding: 20px 20px 20px 30px;
  border-radius: 100px;
  color: var(--black);
  font-family: 'VerdanaBold';
  text-transform: uppercase;
}
.main-text div a img{
  padding-left: 70px;
}
/* Desription */
.description {
  display: flex;
  background-color: var(--black);
  color: var(--text-color);
  height: 280px;
  align-items: center;
  justify-content: center;
  
}
.advantages img {
  margin-bottom: 27px;
}
/* Schedule */
#flight_schedule{
  font-family: 'Verdana';
  height: 460px;
  background-color: var(--dark-grey);
  color: var(--white);
  font-size: 14px;
}
#flight_schedule .row .col-6{
  margin-top: 100px;
}
#flight_schedule h4{
  font-family: 'Courier New';
  color: var(--yellow);
  font-weight: bold;
  width: 50px; 
}
#flight_schedule p{
  font-size: 13px;
  color: var(--text-color);
  width: 450px;
}
#flight_schedule p a{
  color: var(--yellow);
}
#schedule{
  border-collapse: collapse;
  margin-top: 57px;
  width: 1150px;
  /* text-align: center; */
}
#schedule th{
  background-color: var(--dark-black);
  padding: 10px 22px;
}
#schedule td{
  padding: 10px 22px;
  color: var(--text-color);
}
#schedule th, td{
  border-bottom: 1px solid var(--grey);
  width: 27.5%;
}
/* Footer */
footer{
  background-color: var(--black);
  font-size: 13px;
  height: 400px;
}
.footer-nav-header .col{
  margin-top: 92px; 
}
.footer-nav-header .col:first-child{
  margin-bottom: 15px;
}
.footer-nav-header a{
  text-decoration: none;
  font-family: 'VerdanaBold';
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  padding-left: 5px;
}
.footer-nav-header span{
  color: var(--text-color);
  padding-left: 20px;
}
.footer-nav-header .line:not(:first-child){
  border-bottom: 1px solid var(--grey);
  width: 180px;
  margin-left: 5px;
  padding-top: 15px;
}
.footer-nav-link .col{
  margin-top: 57px;
}
.footer-nav-link span{
  color: var(--grey);
}
.footer-nav-link ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-nav-link a{
  color: #717171;
  text-decoration: none;
  line-height: 32px;
  padding-left: 5px;
}